* {
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 100vh;
  background: #2979ff;
  overflow: hidden;
}

.addressContainer {
  background: #fff;
  padding: 24px;
  text-align: left;
}

.contentText {
  font-weight: 500;
  margin-bottom: 16px;
}

.btn {
  padding: 16px 24px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.disconnectBtn {
  background: #ff5722;
  color: #fff;
}

.connectWalletBtn {
  background: #fff;
  box-shadow: 0 0 8px rgb(255, 255, 255, 0.6);
}

.errorMsgText {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%); 
  background: #f8d7da;
  color: #f50057;
  padding: 16px;
  border-radius: 4px;
  font-weight: 500;
  font-size: 15px;
  min-width: 400px;
}